<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashiro.mapper.DrawLikeMapper">
    <update id="updateByIdAndIsDeleted">
        UPDATE draw_like
        SET is_deleted = 0
        WHERE id = #{id}
    </update>
    <update id="updateByIdAndNotDeleted">
        UPDATE draw_like
        SET is_deleted = 1
        WHERE id = #{id}
    </update>
    <select id="selectByUserIdAndDrawIdForUpdate" resultType="com.mashiro.entity.DrawLike" parameterType="map">
        SELECT *
        FROM draw_like
        WHERE user_id = #{userId}
          AND draw_id = #{drawId}
    </select>
    <select id="selectByUserIdAndDrawId" resultType="com.mashiro.entity.DrawLike">
        SELECT *
        FROM draw_like
        WHERE user_id = #{userId}
          AND draw_id = #{drawId}
          AND is_deleted = 0
    </select>
</mapper>